.home{
    display: flex;
    flex-wrap: wrap;
  }
  
  .box{
    flex: 1 0 calc(25% - 10px);
    margin: 5px;
    background: #dbc8ec;
  }
  
  .box:after{
    content: '';
    display: block;
    padding-bottom: 100%;
  }
  
  .box2{background: #AC71D0;}
  .box3{background: #38A899;}
  .box4{background: #A6D98C;}
  .box5{background: #9fd6ec;}
/* 
.home_header
{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-weight: 300;
    font-display: auto;
} */

